.pointer{
	cursor: pointer;
}


.title {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;

    h2 {
    	font-size: 24px;
	    margin-right: 20px;
	    padding-left: 25px;
	    position: relative;

		&:before {
			content: "";
		    width: 11px;
		    height: 100%;
		    display: block;
		    position: absolute;
		    background: #d50038;
		    border-radius: 20px;
		    left: 0;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		    position: absolute;
		}
			
	}
}

.menu-header
{
	position: absolute;
    z-index: 100;
    width: 100%;
	.v-list{
		width: 100%;
		min-height: 100px;
	}
}